.apicard{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

    img{
        object-fit: contain;
        width: 100%;
    }

    .MainHeading{
        font-size: x-large;
        font-weight: bold;
        margin-top: 20px;
    }

    .Description{
        color: gray;
        font-size: medium;
    }

}
