.header{
    width: 100%;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: white;

    .button{
        height: 40px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: #142683;
        color: white;

    }
    
}