.header{
   background-color: aqua;
   flex:1;
}
.logo{
    position: absolute;
width: 120px;
height: 29.24px;
left: 60px;
top: 28px;
}
.button {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding: 8px 16px;
 color: white;

 position: absolute;
 width: 133px;
 height: 44px;
 left: 1247px;
 top: 22px;

background: #142683;
// border-radius: 5px;
}